.App {
  width: 100%;
  div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 950px) {
  img {
    width: 90%;
  }
}