.App {
  width: 100%;
  // div {
  //   width: 100%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
  // }
  .link {
    height: 80vh;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// @media (max-width: 950px) {
//   img {
//     width: 90%;
//   }
// }
